.sub.selected {
    margin: 3px 0;
}

.sub.selected p a {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 1;
    color: #fff;
    background-color: #95C518;
    border-radius: 15px;
    pointer-events: none;
    margin: 0 0 5px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1080;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    overflow-y: auto;
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.popup__close--outer {
    top: -40px;
    right: -40px;
}

.popup__slider-arrow--left, 
.popup__slider-arrow--right {
    position: absolute;
    top: 34.5%;
    width: 33px;
    height: 26px;
    cursor: pointer;
}

.popup__slider-arrow--left {
    left: -63px;
}

.popup__slider-arrow--right {
    right: -63px;
}

.popup__videos {
    position: absolute;
    top: 160px;
    left: calc(50% - 480px);
    width: 960px;
    font-size: 0;
}

.popup__videos-slider {
    width: 100%;
    overflow: hidden;
}

.popup__videos-slider--inner {
    font-size: 0;
}

.popup__video {
    display: inline-block;
    vertical-align: top;
}

.popup__video video {
    width: 100%;
    margin: 0;
}

.popup__photos {
    position: absolute;
    top: 60px;
    left: 25vw;
    width: 50vw;
}

.popup__photos-slider {
    overflow: hidden;
}

.popup__photos-slider--inner {
    width: 300%;
    font-size: 0;
    transform: translate3d(-33.33%, 0, 0);
}

.popup__photos-img-wrapper {
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    overflow: hidden;
}

.popup__photos-img {
    position: relative;
    height: 0;
    padding: 62.5% 0 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
}

.popup__photos-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    min-height: 100%;
    min-width: 100%;
}

.popup__photos-descr {
    min-height: 66px;
    padding: 12px 0 0 19px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #FFFFFF;
}

@media (max-width: 1919px) {
    .popup__photos-descr {
        padding: 12px 0 5px 19px;
    }
}

.popup__photos-descr h6 {
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
}

.popup__photos-descr p {
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
}

.popup__photos-galery {
    width: calc(100% + 10px);
    font-size: 0;
    margin: 20px 0 0;
}

.popup__galery-item {
    display: none;
    width: 20%;
    height: 10vw;
    max-height: 110px;
    padding: 0 5px 5px 0;
    overflow: hidden;
}

.popup__galery-item.is-open {
    display: inline-block;
    vertical-align: top;
}

.popup__galery-item_inner {
    position: relative;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-radius: 4px;
    overflow: hidden;
}

.popup__galery-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    min-height: 100%;
    min-width: 100%;
}

.popup__galery-item .multimedia__item-decor {
    height: 10vw;
    max-height: 100px;
    /* height: 100px; */
    padding: 23px 0 0;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 0 -60px;
}

.popup__galery-item .multimedia__item-text {
    font-size: 11px;
}

.popup__experts {
    position: absolute;
    top: 160px;
    left: calc(50vw - 375px);
    width: 750px;
    min-height: 433px;
    padding: 10px 50px;
    font-family: "Montserrat";
    font-size: 0;
    background: #F9F9F9;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.popup__experts-img {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 100%;
    padding: 40px 30px 0 0;
}

.popup__experts-img img {
    border-radius: 4px;
}

.popup__experts-content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 190px);
    padding: 0 0 40px;
}

.popup__experts-name {
    margin: 0 0 -11px;
}

.popup__experts-position {
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #0097D4;
    margin: 0 0 21px;
}

.popup__experts-experience {
    margin: 0 0 21px;
}

.popup__experts-experience td {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #3B3F41;
}

.popup__experts-experience td:first-child {
    width: 245px;
}

.popup__experts-experience th {
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    color: #3B3F41;
}

.popup__experts-coments {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #3B3F41;
}

.popup__experts-coments_title {
    font-weight: 600;
    line-height: 22px;
}

.multimedia {
    padding: 0 30px 112px;
    font-family: "Montserrat";
    margin: -50px -15px 0;
}

.multimedia__subtitle {
    padding: 15px 0 20px;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: #2B2B2B;
}

.multimedia__subtitle--details {
    padding: 24px 18px 26px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #3B3F41;
}

.multimedia__content {
    padding: 14px 0 0;
    margin: 0 0 -34px;
}

.multimedia__content-title {
    margin: -7px -15px 3px;
}

.multimedia__content-photos {
    margin: 0 -25px 85px;
}

.multimedia__photo {
    padding: 10px;
}

.multimedia__photo-inner {
    height: 220px;
    border-radius: 4px;
    transition: box-shadow 0.5s ease;
    overflow: hidden;
    box-shadow: 0px 14px 31px rgba(0, 0, 0, 0.0664912), 0px 1px 2px rgba(0, 0, 0, 0.0626415);
}

.multimedia__photo-inner a {
    width: 100%;
    height: 100%;
}

.multimedia__photo-inner a img {
    min-width: 100%;
    min-height: 100%;
    transition: filter 0.5s linear;
}

.multimedia__photo-inner:hover {
    box-shadow: 0px 14px 31px rgba(0, 0, 0, 0.198539), 0px 1px 2px rgba(0, 0, 0, 0.0626415);
}
/* 
.multimedia__photo-inner:hover a img {
    filter: blur(1px);
} */

.multimedia__photo-inner .multimedia__item-decor {
    padding: 76px 6px 4px 0;
}

.multimedia__content-items {
    margin: 0 -25px 38px;
}

.multimedia__content-items:last-child {
    margin: 0 -25px 50px;
}

.multimedia__item {
    padding: 10px;
}

.multimedia__item-inner {
    display: block;
    height: 315px;
    border-radius: 4px;
    box-shadow: 0px 14px 31px rgba(0, 0, 0, 0.0664912), 0px 1px 2px rgba(0, 0, 0, 0.0626415);
    transition: box-shadow 0.5s ease;
}

.multimedia__item-inner:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 14px 31px 0 rgba(0, 0, 0, 0.14);
}

.multimedia__item-decor {
    padding: 123px 6px 6px 0;
    text-align: center;
}

.multimedia__item-img {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.multimedia__item-img img {
    min-width: 100%;
    height: 180px;
}

.multimedia__item-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
}

.multimedia__item-data {
    padding: 8px 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #2B2B2B;
    opacity: 0.4;
}

.multimedia__item-text {
    padding: 5px 20px;
}

.multimedia__item-text span {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #2B2B2B;
    border-bottom: 1px solid #d5d5d5;
}

.experts {
    padding: 0 0 70px;
    font-family: Montserrat;
    font-style: normal;
    margin: -51px -15px 0;
}

.experts__subtitle {
    padding: 15px 15px 45px;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    color: #2B2B2B;
}

.experts__item {
    margin: 0 0 40px;
}

.experts__item-img {
    float: left;
    padding: 0 31px 0 14px;
}

.experts__item-content {
    padding: 22px 0 0;
}

.experts__item-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #2B2B2B;
}

.experts__item-position {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #808080;
    margin: 0 0 11px;
}

.experts__item-text {
    padding: 0 40px 0 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #3B3F41;
    margin: 0 0 15px;
}

.experts__item-button {
    display: inline-block;
    vertical-align: top;
}

.experts__item-button .btn {
    padding: 2px 14px;
    border-color: #9cd6ee;
    transition: box-shadow 0.5s;
}

.experts__item-button:hover .btn {
    box-shadow: 0 5px 5px 0 rgba(2, 145, 211, 0.35);
    background-color: #fff;
}

.experts__item-button .btn span {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #0097D4;
    opacity: 1;
}

.details {
    font-family: "Montserrat";
    margin: -21px 0 0;
}

.details__item-img {
    position: relative;
    margin: 0 0 30px;
}

.details__item-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
}

.details__item-data {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #2B2B2B;
    margin: 0 0 15px;
    opacity: 0.4;
}

.details__item-text {
    margin: 0 0 41px;
}

.details__item-text p {
    padding: 0 10px 0 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #3B3F41;
    margin: 0 0 25px;
}

.details__item-text img {
    display: inline-block;
    padding: 0;
    margin: 14px 0 0;
}

.details__item-text img.col-lg-6 {
    padding: 0 20px 0 0;
    margin: 14px 0 43px;
}

.details__item-source,
.details__item-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #2B2B2B;
    opacity: 0.4;
}

.details__item-source {
    margin: 0 0 40px;
}

.details__item-link {
    text-decoration: none;
    opacity: 0.9;
}

.details__item-share {
    padding: 20px 0 18px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #2B2B2B;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin: 0 0 36px;
}

.details__item-share .ya-share2 {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 17px;
}

.details__item-share .ya-share2__item {
    margin: 0 5px 0 0 !important;
}

.details__item-share .ya-share2__icon {
    width: 20px !important;
    height: 20px !important;
    transform: scale(1.12);
    transform-origin: 50% 50%;
}

.details__news {
    margin: 0 0 58px;
}

.details__footer {
    padding: 0 15px;
    margin: 0 0 60px;
}

.smi {
    font-family: 'Montserrat';
    margin: -35px 0 80px;
}

.smi__subtitle {
    line-height: 32px;
    font-weight: normal;
    font-size: 21px;
    margin: 0 0 35px;
}

.smi__nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.smi__nav-item {
    list-style: none;
    margin: 0 10px 0 0;
}

.smi__type {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    padding: 0 40px;
    font-size: 13px;
    line-height: 28px;
    color: #808080;
    border-radius: 15px;
    border: 1px solid #808080;
    transition: border-color 0.5s;
}

.smi__type:hover {
    color: #808080;
    border-color: #95C518;
}

.smi__type.is-active {
    color: #fff;
    background-color: #95C518;
    border-color: #95C518;
    pointer-events: none;
}

.smi__type--mini {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    padding: 0 13px;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #95C518;
    pointer-events: none;
}

.smi__items-wrapper {
    padding: 10px 0 0;
}

.smi__item {
    padding: 10px;
    margin: 0 0 5px;
}

.smi__item-inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 348px;
    border-radius: 4px;
    box-shadow: 0px 14px 31px rgba(0, 0, 0, 0.0664912), 0px 1px 2px rgba(0, 0, 0, 0.0626415);
    transition: padding 0.5s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.smi__item-inner:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 14px 31px 0 rgba(0, 0, 0, 0.14);
}

.smi__item-img {
    height: 180px;
    border-radius: 4px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.smi__item-img img {
    width: 100%;
}

.smi__item-content {
    padding: 9px 19px 0;
}

.smi__item-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 13px;
}

.smi__item-data {
    font-size: 13px;
    line-height: 22px;
    color: #2B2B2B;
    opacity: 0.6;
}

.smi__item-title {
    margin: 0 0 11px;
}

.smi__item-title span {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #2B2B2B;
    border-bottom: 1px solid #d5d5d5;
}

.smi__item-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #2B2B2B;
    text-decoration: none;
    opacity: 0.4;
}

/* стили из пресса о нас */
.press {
    padding: 8px 0 0;
}

.press__subtitle {
    line-height: 32px;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 21px;
    margin: 0 -15px 32px 0;
}

.press-blocks__wrapper {
    margin: 0 -17px 0 -10px;
}

.press-block__item {
    padding: 10px;
}

.press-block__item-inner {
    position: relative;
    height: 300px;
    padding: 67px 0 0 40px;
    border-radius: 4px;
    background: right center no-repeat;
    background-size: cover;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 14px 31px 0 rgba(0, 0, 0, 0.07);
    transition: padding 0.5s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.press-block__item-icon img {
    height: 40px;
    margin: 0 0 19px;
}

.press-block__item-title {
    display: inline-block;
    vertical-align: top;
    padding: 0 3px 2px 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    border-bottom: 1px solid rgba(43, 43, 43, 0.2);
    margin: 0 0 15px;
}

.press-block__item-text {
    width: 63%;
    line-height: 22px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    opacity: 0.6;
}

.press-block__item:hover .press-block__item-button {
    padding: 0 0 80px;
}

.press-block__item:hover .press-block__item-inner {
    padding: 30px 0 0 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 14px 31px 0 rgba(0, 0, 0, 0.14);
}

.press-block__item:hover .press-block__item-text {
    line-height: 19px;
}

.press-block__item-button {
    position: absolute;
    bottom: -40px;
    left: 40px;
    padding: 0;
    transition: padding 0.5s ease;
}

.press-block__item-button--primary {
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    color: #fff !important;
    border-radius: 2px;
    background-color: #0097D4;
    transition: box-shadow 0.5s ease;
}

.press-block__item-button--primary:hover {
    box-shadow: 0 10px 20px 0 rgba(2, 145, 211, 0.35);
}

.press-block__item-button--primary img {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    margin: 0 0 0 25px;
}

.press__about {
    margin: 0 0 100px;
}

.press__about-title {
    line-height: 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    margin: 55px 0 10px;
}

.press__about-text {
    line-height: 22px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
}

.submenu {
    font-family: 'Montserrat';
    margin: 148px 0 0 7px;
}

.submenu__info {
    padding: 21px 20px 1px;
}

.submenu__info-title {
    line-height: 24px;
    font-weight: 600;
    font-size: 22px;
    color: #2B2B2B;
    margin: 0 0 14px;
}

.submenu__info-facts {
    padding: 0 0 0 16px;
}

.submenu__info-facts li {
    position: relative;
    list-style: none;
    padding: 0 0 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #2B2B2B;
    opacity: 0.6;
}

.submenu__info-facts li:before {
    content: '';
    position: absolute;
    top: 9px;
    left: -14px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #99D400;
}

.submenu__context-person {
    margin: 0 0 9px;
}

.submenu__context-person p,
.submenu__context-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    color: #2B2B2B;
    margin: 0 0 1px;
}

.submenu__context-person a {
    display: block;
    padding: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    color: #808080;
    transition: padding 0.5s ease;
}

.submenu__context-person a:last-child {
    text-decoration: underline !important;
    margin: 0 0 -9px;
}

.submenu__context-person a:hover {
    padding: 0 0 10px;
    color: #0097D4;
}

.submenu__context-text {
    margin: 0 0 10px;
}

.submenu__context-button {
    padding: 0 0 21px;
}

.submenu__button--primary {
    display: inline-block;
    height: 40px;
    padding: 0 25px;
    line-height: 40px;
    color: #fff !important;
    border-radius: 2px;
    background-color: #0097D4;
    transition: box-shadow 0.5s ease;
}

.submenu__button--primary:hover {
    box-shadow: 0 10px 20px 0 rgba(2, 145, 211, 0.35);
}

.submenu__info-soc {
    padding: 0 0 11px 2px;
}

.submenu__info-soc a {
    display: inline-block;
    vertical-align: top;
    max-width: 25%;
}

.submenu__info-soc a svg {
    height: 17px;
    fill: #2b2b2b;
    transition: transform 0.5s ease,
    fill 0.5s ease;
}

.submenu__info-soc a:hover svg {
    fill: #009cdb;
    transform: scale(1.2);
}

.mobile_block {
    bottom: -90px;
}

.mobile_block {
    bottom: -90px;
}
